.button {
  background-color: #30475E;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Quicksand';
  border: 3px solid #30475E;
  outline: none;
  display: block;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  border-radius: 1rem;
  cursor: pointer;
};